.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url("https://www.elmueble.com/medio/2023/04/11/razas-de-perros_be91a4c5_230411103135_1200x630.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.formBox {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form__label {
  font-size: 18px;
  font-weight: bold;
}

.form__input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__error {
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
}

.form__temperament {
  margin-top: 10px;
}

.form__temperament select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  height: 120px;
  overflow-y: auto;
}

.form__button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
